.borders {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0.8vw solid #000;
  border-radius: 2vw;
  pointer-events: none;
  z-index: 8;
}

.secondary {
  z-index: 10;
  border-radius: 0;
}

.primary {
  z-index: 8;
}
